@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html {
  color: var(--clr-primary-dark);
  font-family: Inter, sans-serif;
}

button,
input {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: var(--clr-accent);
  border: none;
  box-shadow: 0 0 1px #333;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper > * {
  padding: 1rem;
}

.nav {
  margin-bottom: 1rem;
}

.window {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.window > *:not(:last-child) {
  min-height: 200px;
}

.window > * > * {
  padding: 0.5rem 1rem;
}

.window > *:last-child {
  grid-column: 1 / -1;
  min-height: 300px;
}

/* GLOBAL */
:root {
  --clr-primary: #a2d2ff;
  --clr-primary-2: #b6d5f1;
  --clr-primary-dark: #001e3a;
  --clr-secondary: #bde0fe;
  --clr-secondary-2: #cfe4f7;
  --clr-accent: #d3cff3;
}

.header {
  background-color: var(--clr-primary);
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
}

.widget {
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  background-color: var(--clr-secondary);
  position: relative;
}

.icon {
  --size: 42px;
  width: var(--size);
  height: var(--size);
}

.hidden {
  display: none;
}

#loader {
  border: 3px solid #333;
  border-left: 3px solid transparent;
  border-radius: 999px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -80%;
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/* NAV */
.nav {
  height: 2rem;
}

.nav-search-input {
  cursor: auto;
  width: 50ch;
  text-align: center;
}

.nav-search-input,
.nav-search-button {
  height: 100%;
  margin-right: 1rem;
  background-color: var(--clr-secondary-2);
}

/* WINDOW GLOBAL */
.location .days-header,
.forecast-options {
  display: flex;
  gap: 1rem;
}

/* LOCATION */
.location {
  display: flex;
  flex-direction: column;
}

.location-description {
  display: grid;
  align-items: center;
  font-size: 1.3rem;
  height: 100%;
}

.location-datetime {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-primary-2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Current Conditions & Today's Conditions*/

.current_conditions-table th,
.current_conditions-table td,
.today-conditions-table th,
.today-conditions-table td {
  padding: 0.3em 0.5em;
  border-radius: 5px;
  text-align: start;
}
.today-conditions-table th,
.current_conditions-table th {
  background-color: var(--clr-primary);
}

.today-twilight {
  display: flex;
  align-items: center;
  gap: 2px;
}

.today-twilight .icon {
  transform: translateY(-5px);
}

/* Forecast */

/* ol */
.forecast-container {
  display: grid;
  gap: 1rem;
}

.forecast-header {
  justify-content: space-between;
  width: 70%;
}

.day-wrapper {
  --item-padding: 0.3em 0.5em;
  --item-border-radius: 5px;
  --item-bg-clr: var(--clr-primary);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));

  background-color: var(--clr-secondary-2);
  border-radius: 10px;
  box-shadow: 0 0 2px #333;
}

.day-wrapper > * {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  min-width: 18ch;
}

.day-datetime-wrapper {
  background-color: var(--clr-primary);
}

.day-conditions-wrapper {
  background-color: var(--clr-primary-2);
}
.day-table-thead {
  font-weight: bold;
}

.day-table:not(:last-child) {
  border-right: 3px solid var(--clr-primary);
}

.day-table-th {
  width: 8ch;
  background-color: var(--item-bg-clr);
}

.day-table-td {
  text-align: center;
  width: 20ch;
  background-color: var(--item-bg-clr);
}

.day-table-td,
.day-table-th {
  padding: var(--item-padding);
  border-radius: var(--item-border-radius);
}

.day-table .max {
  background-color: #f98a8a;
}

.day-table .temp {
  background-color: #8af9ce;
}

.day-table .min {
  background-color: #8aabf9;
}
